.navbar {
    display: flex;
    height: 80px;
    background: #111;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center; /* centers nav-links within navbar */
    align-items: center;     /* vertical center */
}

.nav-links {
    display: flex;
    gap: 5rem; /* adjust spacing between links */
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    align-items: center;
}
